/* Layout Head */

.layout-head {
  background-color: var(--bg-first);
  height: 60px;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  transition-duration: 200ms;
}

.layout-head.left {
  left: 220px;
}
.layout-head.right {
  right: 220px;
}

.layout-head .container {
  align-items: center;
  display: flex;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.layout-head .menu {
  background-color: transparent;
  border: 0;
  color: var(--default);
  display: none;
  font-size: 18px;
  padding: 0;
}

.layout-head .bar { flex-grow: 1; }

.layout-head .bar a {
  align-items: center;
  color: var(--default);
  display: flex;
  text-decoration: none;
}

.layout-head .bar .logo {
  height: 30px;
  margin-right: 10px;
  width: 30px;
}

.layout-head .bar .brand {
  font-size: 16px;
  text-transform: uppercase;
}

.layout-head .theme {
  align-items: center;
  background-color: rgb(234, 88, 12);
  border: 0;
  border-radius: 9999px;
  color: white;
  display: flex;
  font-size: 18px;
  height: 26px;
  justify-content: center;
  margin-right: 10px;
  width: 26px;
}

.dark .layout-head .theme {
  background-color: rgb(75, 85, 99);
}

.layout-head .user {
  background-color: transparent;
  border: 0;
  color: var(--default);
  font-size: 26px;
  padding: 0;
}

@media (max-width: 767px) {
  .layout-head.left {
    left: 0;
  }
  .layout-head.left-open {
    left: 220px;
  }
  .layout-head .menu {
    display: inline-block;
  }
}

/* Layout Left */

.layout-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  transition-duration: 200ms;
  width: 220px;
  z-index: 100;
}

.layout-left header {
  align-items: center;
  background-color: var(--bg-zero);
  display: flex;
  height: 60px;
  padding: 0 10px;
}

.layout-left header .brand {
  flex-grow: 1;
  margin: 0;
}

.layout-left header .brand > a {
  align-items: center;
  color: var(--default);
  display: flex;
  text-decoration: none;
}

.layout-left header .brand > span {
  align-items: center;
  display: flex;;
}

.layout-left header .brand .logo {
  height: 30px;
  margin-right: 10px;
  width: 30px;
}

.layout-left header .brand .label {
  font-size: 16px;
  text-transform: uppercase;
}

.layout-left header .back {
  background-color: transparent;
  border: 0;
  color: var(--default);
  display: none;
  padding: 0;
  font-size: 18px;
}

.layout-left main {
  background-color: var(--bg-first);
  flex-grow: 1;
  overflow-x: auto;
}

.layout-left main .menu-item {
  align-items: center;
  color: var(--info);
  border-bottom-color: var(--bg-zero);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 14px;
  text-decoration: none;
}

.layout-left main .menu-item.active {
  color: var(--default);
}
.layout-left main .menu-item .icon {
  color: var(--default);
  margin-right: 10px;
}

@media (max-width: 767px) {
  .layout-left {
    left: -220px;
  }
  .layout-left.open {
    left: 0;
  }
  .layout-left header .back {
    display: inline-block;
  }
}

/* Layout Right */

.layout-right {
  border-left: 1px solid var(--bg-zero);
  bottom: 0;
  position: absolute;
  right: -220px;
  top: 0;
  transition-duration: 200ms;
  width: 220px;
  z-index: 100;
}
.layout-right.head {
  top: 60px;
}
.layout-right.open {
  right: 0;
}

.layout-right .container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout-right main {
  background-color: var(--bg-second);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout-right .user-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout-right .user-menu header .info {
  align-items: center;
  background-color: var(--bg-zero);
  color: var(--default);
  display: flex;
  padding: 8px 10px;
}

.layout-right .user-menu header .info .icon {
  display: inline-block;
  font-size: 26px;
  margin-right: 10px;
}

.layout-right .user-menu header .lang {
  background-color: var(--bg-second);
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
}

.layout-right .user-menu header .lang a {
  background-color: var(--bg-zero);
  color: var(--info);
  display: inline-block;
  font-size: 10px;
  margin-right: 5px;
  padding: 5px;
}
.layout-right .user-menu main {
  background-color: var(--bg-first);
  flex-grow: 1;
}
.layout-right .user-menu main .container {
  height: 100%;
}
.layout-right .user-menu main .menu-item {
  align-items: center;
  border-bottom: 1px solid var(--bg-zero); 
  display: flex;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 14px;
}

.layout-right .user-menu main .menu-item .icon {
  display: inline-block;
  margin-right: 10px;
}
.layout-right .user-menu main .menu-item a {
  color: var(--info);
}

/* Layout Main */

.layout-main {
  background-color: var(--bg-zero);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition-duration: 200ms;
}
.layout-main.head {
  top: 60px;
}
.layout-main.left {
  left: 220px;
}
.layout-main.right {
  right: 220px;
}

@media (max-width: 767px) {
  .layout-main.left {
    left: 0;
  }
  .layout-main.left-open {
    left: 220px;
  }
  .layout-main.right {
    right: 0;
  }
  .layout-main.right-open {
    right: 220px;
  }
}

/* Layout Blank */

.layout-blank {
  background-color: var(--bg-zero);
  color: var(--default);
  height: 100%;
  position: relative;
  width: 100%;
}

/* Layout Panel */

.layout-panel {
  background-color: var(--bg-zero);
  color: var(--default);
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}